.search {
	display: flex;
}
.search__container {
	width: 100vw;
	height: 100%;
	background-color: rgb(91, 87, 115);
	background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.search__header {
	padding: 15px;
	color: white;
}
.search__header > form > input {
	padding: 15px;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 50%;
	font-size: 18px;
	margin-left: 22%;
	margin-right: 20%;
}

.search__result {
	display: flex;
	margin-top: 2%;
	margin-left: 2%;
	flex-wrap: wrap;
}
